/* body{
    background-color: red;
} */
.form-control{
    margin:5px;
}
div.twitter{
    height:45.35px;
}
div.twitter span{
    display:block;
    width:65.73px;
}
.btn-biger{
    display:inline-block;
    position:relative;
    top:3px;
}
.btn-transparent{
    display:block;
}